.navbar_desktop {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar_menu {
  color: white;
  background: var(--primary-color);
  display: flex;
  padding: 1.20rem;
  margin: 0;
  gap: 2.5rem;
  align-items: center;
  padding-left: 2.5rem;
}

.rds_logo {
  width: 45px;
  height: 45px;
}
.navlist_items {
  display: flex;
  align-items: center;
  margin: 2px;
}

.navlink {
  font-weight: 700;
  font-size: 1rem;
  color: white;
  text-decoration: none;
}


.navlink:hover {
  color: #49a82e;
}

.profile_component {
  margin-left: auto;
}

/* NAVBAR MOBILE STYLES */

.navbar_mobile_container {
  color: white;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 1.25rem;
}

.hamburger_button {
  background: none;
  border: none;
  cursor: pointer;
}

.humberburger_icon {
  width: 30px;
  height: 30px;
}

.navbar_mobile_menu {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 1.25rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  width: 100%;
  margin: 0;
}

.nav_mobile_item {
  padding: 10px 20px;
}

.nav_mobile_links {
  color: var(--primary-color);
  font-weight: 600;
}

.nav_mobile_links:hover {
  color: #49a82e;
}